<mat-sidenav-container class="sidenav-container">
    <mat-sidenav #drawer class="sidenav" fixedInViewport
        [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
        [mode]="(isHandset$ | async) ? 'over' : 'side'"
        [opened]="(isHandset$ | async) === false">
      <mat-toolbar>Menu</mat-toolbar>
      <mat-nav-list>
        <a mat-list-item routerLink="/pages/graphicscards">Graphics Cards</a>
        <a mat-list-item routerLink="/pages/processors">Processors</a>
        <a mat-list-item routerLink="/pages/monitors">Monitors</a>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <mat-toolbar color="primary">
        <button
          type="button"
          aria-label="Toggle sidenav"
          mat-icon-button
          (click)="drawer.toggle()"
          *ngIf="isHandset$ | async">
          <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
        </button>
        <a routerLink="/">OutOfStock.com</a>

      <mat-icon routerLink="/bookings">shopping_cart</mat-icon>
      </mat-toolbar>

        <mat-toolbar class="link-bar">
          <div class="items">
            <a mat-list-item routerLink="/pages/graphicscards">Graphics Cards</a>
            <a mat-list-item routerLink="/pages/processors">Processors</a>
            <a mat-list-item routerLink="/pages/monitors">Monitors</a>
        </div>
      </mat-toolbar>

      <!-- Add Content Here -->
      <div class="slider">
        <mat-card class="main-card">
          <div class="picture">
            <img class="image" mat-card-image src="assets/xfx6800xt.png" alt="Photo of a Shiba Inu">
          </div>
          <div class="text">
            <mat-card-title>XFX RadeonRX 6800 XT speedster MERC 319 </mat-card-title>
            <p>
              Grafikkort, AMD Radeon RX 6800 XT Overclocked, Core clock 1900 MHz / Boost clock 2340 MHz, 4608 Stream kerner, 16 GB GDDR6 
            </p>
            <p>
              PCI Express 4.0 x16, 1 x HDMI 2.1 / 2 x DisplayPort 1.4 / 1 x USB Type-C tilslutninger, 2 x 8-pins strømstik, kortlængde: 340mm
            </p>
            <div class="card-action">
              <mat-card-title>7500,-</mat-card-title>
              <div class="buy-button">
                <button mat-raised-button color="accent" routerLink="/pages/products/graphics6800xt">Køb</button>
            </div>
          </div>
          </div>
        </mat-card>
      </div>
      <div class="main-content">
        <mat-card class="front_card">
          <img mat-card-image src="assets/3080.png" alt="Photo of a Shiba Inu">
          <mat-card-content>
            <mat-card-title>ASUS GeForce RTX 3080 TUF OC - 10GB </mat-card-title>
            <p>
              Grafikkort, NVIDIA GeForce RTX 3080, Core clock 1440 MHz / Boost clock 1815 MHz, 8704 CUDA kerner, 10 GB  
            </p>
            <p>
              PCI Express 4.0, 2 x HDMI / 3 x DisplayPort
            </p>
          </mat-card-content>
          <div class="card-action">
            <mat-card-title>8890,-</mat-card-title>
            <div class="buy-button">
              <button mat-raised-button color="accent" routerLink="/pages/products/graphics3080">Køb</button>
          </div>
        </div>
        </mat-card>
    
        <mat-card class="front_card_2">
          <img mat-card-image src="assets/5900x.png" alt="Photo of a Shiba Inu">
          <mat-card-content>
            <mat-card-title>AMD Ryzen 5 5900X </mat-card-title>
            <p>
              Processor, AMD Ryzen 5 5900X, Antal kerner 12 kerner, Max Turbo Speed 4.8 GHz Clock-frekvens  3.7 GHz / Max Turbo Speed 4.8 GHz
            </p>
            <p>
              PCI Express 4.0, 7 nm, 105 W TDP, Cache 64 MB
            </p>
          </mat-card-content>
          <div class="card-action">
            <mat-card-title>4399,-</mat-card-title>
            <div class="buy-button">
              <button mat-raised-button color="accent" routerLink="/pages/products/processor5900x">Køb</button>
          </div>
        </div>
        </mat-card>
    
        <mat-card class="front_card_3">
          <img mat-card-image src="assets/asusrog.png" alt="Photo of a Shiba Inu">
          <mat-card-content>
            <mat-card-title>ASUS 25" Skærm ROG Swift PG259QN 360Hz IPS - Sort - 1 ms NVIDIA G-SYNC </mat-card-title>
            <p>
              Skærmtype LED-baggrundsbelyst LCD-skærm / TFT aktiv matriks, Adaptive-Sync teknologi NVIDIA G-SYNC, Størrelse 24.5
            </p>
            <p>
              Standard opløsning Full HD (1080p) 1920 x 1080 ved 360 Hz, Responstid 1 ms (MPRT)
            </p>
          </mat-card-content>
          <div class="card-action">
            <mat-card-title>5690,-</mat-card-title>
            <div class="buy-button">
              <button mat-raised-button color="accent" routerLink="/booking">Køb</button>
          </div>
        </div>
        </mat-card>
    </div>
    <main-footer></main-footer>
    </mat-sidenav-content>
  </mat-sidenav-container>

