<mat-toolbar color="primary">
    <mat-toolbar-row class="toolbar_1">
            <span>OutOfStock.com</span>
            <span>Hasselager Alle 55</span>
            <span>Åben 10-11 alle dage</span>
    </mat-toolbar-row>
  
    <mat-toolbar-row class="toolbar_2">
        <span>Omkring os</span>
        <span>Handelsbetingelser</span>
        <span>Fragt og retur</span>
    </mat-toolbar-row>
  
    <mat-toolbar-row class="toolbar_3">
        <a>We never guarantee that anything is in stock</a>
    </mat-toolbar-row>
  </mat-toolbar>